body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

.card {
    background: #1e293b;
    border-radius: 15px;
}

input, select {
    background: #0f172a !important;
    color: white !important;
    border: none !important;
}

.table {
    background: white;
    color: black;
}
